<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Home | Review System</title>
    </head>
    <body>
        <%- include('./partials/nav') %>

        <div class="container my-4">
            <div class="d-flex flex-wrap">
                Event
            </div>
        </div>
        <%- include('./partials/scripts') %>
    </body>
</html>
